<div id="<%= dom_id add %>">
  <p>
    <strong>Title:</strong>
    <%= add.title %>
  </p>

   <p>
    <strong>Published on:</strong>
    <%=  add.created_at.to_fs(:long) %>
  </p>

  <p class="trix-content">
    <strong>Description:</strong>
    <%= add.description %>
  </p>

  <p>
    <%= link_to "Show this add", add %>
  </p>

  <hr>
</div>
