<p style="color: green"><%= notice %></p>

<h1>Anuncios</h1>

<div>
  <%= link_to "Crear Anuncio", new_add_path, class: "btn btn-primary" %>
</div>
<hr>
<h3>Listado</h3>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Título</td>
        <th>Fecha de publicación</th>
      </tr>
    </thead>
    <tbody>
      <% @adds.each do |add| %>
        <%= content_tag :tr, id: dom_id(add), class:  dom_class(add) do %>
          <td><%= link_to "#{add.title}", add %></td>
          <td><%= I18n.l(add.created_at, format: :long)%></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<%== pagy_bootstrap_nav(@pagy) %>

