
<p style="color: green"><%= notice %></p>

<%= render @add %>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= link_to "Editar Anuncio", edit_add_path(@add), class: "btn btn-primary" %>
    </div>
    <div class="col-md-4">
      <%= link_to "Regresar al listado", adds_path, class: "btn btn-primary" %>
    </div>
    <div class="col-md-4">
      <%= button_to "Eliminar Anuncio", @add, method: :delete, class: "btn btn-primary" %>
    </div>
  </div>
</div>
